<?xml version="1.0" encoding="utf-8"?>
<manifest package="peoples.materialfitness"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".Core.MaterialFitnessApplication"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".RootScreen.RootActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".WorkoutDetails.ActiveWorkoutDetailsActivity.ActiveWorkoutDetailsActivity"/>
        <activity android:name=".WorkoutDetails.HistoricalWorkoutDetailsActivity.HistoricalWorkoutDetailsActivity"/>
        <activity android:name=".FitnotesImport.FitnotesImporterActivity"/>
        <activity android:name=".WorkoutDetails.PastWorkoutDialog.PastWorkoutDialogActivity"/>
        <activity android:name=".Schedule.ScheduleDay.ScheduleDayActivity"/>

    </application>

</manifest>
